
{% extends 'base.html' %}

{% block script %}

{% endblock %}

{% load static %}

{% block style %}
<style>
    .id-box {
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        top: 300px;
        position: relative;
        width: 486px;
        height: 50px;
        background: rgb(254, 254, 254);
        border: 3px solid rgb(94, 130, 35);
        border-radius: 40px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }
    .password-box {
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        top: 330px;
        position: relative;
        width: 486px;
        height: 50px;
        background: rgb(254, 254, 254);
        border: 3px solid rgb(94, 130, 35);
        border-radius: 40px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }
    .ID-text {
        position: absolute;
        top: 285px;
        left: 15%;
        transform: translateX(-50%);
        color: rgb(94, 130, 35);
        font-family: "Noto Serif KR";
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .Password-text {
        position: absolute;
        top: 315px;
        left: 15%;
        transform: translateX(-50%);
        color: rgb(94, 130, 35);
        font-family: "Noto Serif KR";
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .login-button {
        position: absolute;
        top: 550px;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(94, 130, 35);
        font-family: "Noto Serif KR";
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        cursor : pointer
    }

</style>
{% endblock %}

<!--html 코드 작성-->
{% block content %}

<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="parent-container">
            <p class="ID-text">ID</p>
        </div>
        <div class="id-box">
            <label for="username"></label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="parent-container">
            <p class="Password-text">Password</p>
        </div>
        <div class="password-box">
            <label for="password"></label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="login-button">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>

{% endblock %}


