{% extends 'base.html' %}

{% block script %}
{% endblock %}

{% load static %}

{% block style %}
<style>
</style>
{% endblock %}

<!--html 코드 작성-->
{% block content %}
<div>
    <form action="{% url 'account:login' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="username">ID</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="signup-button"><input type="submit" value="Login"></div>
        {{error}}
    </form>
</div>

{% endblock %}


