{% extends 'base.html' %}

{% block script %}
{% endblock %}

{% load static %}

{% block style %}
<style>
</style>
{% endblock %}

<!--html 코드 작성-->
{% block content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="username">ID</label>
            <input type="text" class="form-contrl" name="username" id="username">
        </div>
        <div>
            <label for="password">PWD</label>
            <input type="password" class="form-contrl" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>

{% endblock %}


